<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 class="heading">Game Rules</h1>
        <p class="lead">
          <%= image_tag("guess_who.jpg", height: '161', width: '348') %>
        </p>
        <ul>
          <p><ls> At the start of the game the board is generated with 20 characters. </ls></p>
          <p><ls> The computer picks a character which is hidden from view. It is your job to guess which character has been selected. </ls></p>
          <p><ls> In your armary there are a choice of questions you can ask to eliminate characters from the board. For example, "Does the character wear glasses?"</ls></p>
          <p><ls> You have a maximum of 10 questions before you must 'Guess Who'.</ls></p>
          <p><ls> Pick your questions carefully!</ls></p>
          <p><ls> Enjoy!</ls></p>
        </ul>
    </main>
  </div>
</body>
