<h1><%= @player.name %></h1>

<img src=<%="/lib/assets/#{@player.first_name}_#{@player.last_name}.jpg"%> alt="">
<%= image_tag("#{@player.first_name}_#{@player.last_name}.jpg", width: '80%') %>
<%=  %>
<p>Top Score: <% @player.top_score %></p>
<br>
<h2>Characteristics</h2>
