<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 class="heading">Welcome to</h1>
        <p class="lead">
          <%= image_tag("guess_who.jpg") %>
        </p>
        <ul>
        <p><ls> At the start of the game the board is generated with 20 characters. </ls></p>
        <p><ls> The computer picks a character which is hidden from view. It is your job to guess which character has been selected. </ls></p>
        <p><ls> At the start of the game you have a choice of questions you can ask to eliminate characters from the board. For example, "Does the character wear glasses?"</ls></p>
        <p><ls> You have a maximum of 10 questions before you must 'Guess Who'.</ls></p>
        <p><ls> Pick your questions carefully!</ls></p>
        <p><ls> Enjoy!</ls></p>
      </ul>
        <p class="lead">
          <%= link_to 'Signup', signup_path, class: "btn btn-lg btn-secondary" %>
          <%= link_to 'Login', login_path, class: "btn btn-lg btn-secondary" %>

        </p>
    </main>
  </div>
</body>
